.header-div{
  width: 100%;
  height: 40px;
  padding: 5px;
  position: fixed;
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgb(65, 165, 252);
  text-align: center;
  margin-left: -10px;
  top: 0; 
}

.login{
    
    margin: 7% 0% 0% 35%;
    height: 400px;
    width: 400px;
    border: 1px solid rgb(182, 178, 178);
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: rgb(244, 244, 244);
}

input[type=text], select {
    margin: auto;
    height: 40px;
    width: 60%;
    padding: 10px;
    margin: 0% 0% 10% 20%; /*top right bottom left*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

  }

  input[type=password], select {
    margin: auto;
    height: 40px;
    width: 60%;
    padding: 10px;
    margin: 0% 0% 10% 20%; /*top right bottom left*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .icon_div{
    width:80%;
    height: 55px;
    padding: 5px;
    margin: 10% 10% 10% 10%;
    place-items: center;
  }
  .user-icon-div{
    width:55px;
    height: 55px;
    text-align: center;
    margin-left: 40%;
    border-radius: 50px;
  }
  .login-button {
    margin: auto;
    height: 40px;
    width: 40%;
    cursor: pointer;
    color: white;
    font-size: 15px;
    margin: 0% 10% 10% 30%; /*top right bottom left*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(65, 165, 252);
  }
  .login-button:hover {
    background-color: rgb(11, 141, 255);

  }
  .signup-button {
    margin: auto;
    height: 40px;
    width: auto;
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
    margin-left: -100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: right;
    box-sizing: border-box;
    background-color: rgb(0, 188, 53);
  }
  .signup-button:hover {
    background-color: rgb(2, 202, 58);

  }
  .form-modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .form-modal-content{
    background-color: #ebebeb;
    padding: 10px;
    margin-left: 25%;
    border: 1px solid #888;
    border-radius: 10px;
    width: 40%;
    height: 400px;
  }
  .loader {
    border: 10px solid #ffffff;
    border-radius: 50%;
    border-top: 10px solid rgb(0, 188, 53);
    width: 40px;
    display: none;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
 