.header-div{
  width: 100%;
  height: 40px;
  padding: 5px;
  position: fixed;
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgb(65, 165, 252);
  text-align: center;
  margin-left: -10px;
  top: 0; 
}

.login{
    
    margin: 7% 0% 0% 35%;
    height: 400px;
    width: 400px;
    border: 1px solid rgb(182, 178, 178);
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: rgb(244, 244, 244);
}

input[type=text], select {
    margin: auto;
    height: 40px;
    width: 60%;
    padding: 10px;
    margin: 0% 10% 10% 20%; /*top right bottom left*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

  }

  input[type=password], select {
    margin: auto;
    height: 40px;
    width: 60%;
    padding: 10px;
    margin: 0% 10% 10% 20%; /*top right bottom left*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .icon_div{
    width:80%;
    height: 55px;
    padding: 5px;
    margin: 10% 10% 10% 10%;
    place-items: center;
  }
  .user-icon-div{
    width:55px;
    height: 55px;
    text-align: center;
    margin-left: 40%;
    border-radius: 50px;
  }
  .login-button {
    margin: auto;
    height: 40px;
    width: 40%;
    cursor: pointer;
    font-size: 15px;
    margin: 0% 10% 10% 30%; /*top right bottom left*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(65, 165, 252);
  }
  .login-button:hover {
    background-color: rgb(11, 141, 255);

  }
  .signup-button {
    margin: auto;
    height: 40px;
    width: 80px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
    margin-left: -100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: right;
    box-sizing: border-box;
    background-color: rgb(96, 252, 65);
  }
  .signup-button:hover {
    background-color: rgb(27, 255, 11);

  }
 